services:
  postgres:
    build:
      context: ./postgres
      dockerfile: Dockerfile
    restart: always
    shm_size: 256mb
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - ${DB_PORT}:5432
    volumes:
      - svelte_desktop_postgres_data:/var/lib/postgresql

volumes:
  svelte_desktop_postgres_data:
